<footer>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href='#main'><img src='https://www.kolaymetraj.com/images/km_ikon_09.png' id="contacts"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://t.me/teamaker_tg">Телеграм</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="teavibe.company@gmail.com">Почта</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://vk.com/teavibecompany">Вк</a>
        </li>
    </ul>
</footer>
