<header>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#logo" id="logo"><img src='https://ejsk.oteli-otdih.ru/userfls/img_params/img_1_52.png'></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#main" id="menu">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about_us" id="menu">О нас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#our_path" id="menu">Наш путь</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#feedback" id="menu">Обратная связь</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacts" id="menu">Контакты</a>
        </li>
    </ul>
</header>