{% extends "index.html" %}

<p>Наш продукт - полностью автоматическая Чаеварка, простыми словами, это аналог умной кофемашины, но для чая.</p> 
<p>Устройство позволяет людям, независимо от их знаний в чайном деле, получать идеально приготовленный напиток с минимальными затратами во времени. Взаимодействие происходит через сенсорный дисплей на устройстве и через мобильное приложение. Благодаря тонкой настройке напитка, можно подобрать параметры под себя, либо воспользоваться готовым шаблоном, встроенным или созданным вами. Наша чаеварка отлично впишется в офисную экосистему, а сотрудники получат легкий доступ к правильно заваренному чаю, без ущерба рабочему процессу.</p>
<p>Мы нацелены изменить подход к завариванию чая!</p>
<p>Приоритетный сегмент - B2B (офисы компаний, магазины (ВкусВилл и т.п.), АЗС, коворкинги и форумы)</p>
<p>Есть прототип и MVP в разработке.</p>
<p>Разработка аппаратной части ведется на базе МИЦа в МГТУ им. Баумана. В планах получить грант. Уже с ним закончить MVP, подать на патент и сертификацию. После этого провести пилотное тестирование и выйти на первые продажи.</p>
<a href='https://steamuserimages-a.akamaihd.net/ugc/2012595138531345839/10D4E04E27FC852CE66AA51C6D2BCF6F74F133F1/?imw=512&amp;imh=341&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true'>
    <img src='https://steamuserimages-a.akamaihd.net/ugc/2012595138531345839/10D4E04E27FC852CE66AA51C6D2BCF6F74F133F1/?imw=512&amp;imh=341&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true' alt="Это делали мы">
</a>