{% comment %} <a href='#main' id="#our_path"><h2>Наш путь </h2></a>

<div class="about-section">
    <p>Чаеварка зародилась еще на школьной скамье. Проект развивался вместе с нашими навыками. Мы с командой побеждали и становились призерами крупных конкурсов и акселераторов, выступали с проектом в Общественной палате. И по сей день мы продолжаем развиваться.</p>
    <p>В планах на ближайшее время - получение гранта, завершение разработки MVP, его патентование и сертификация. После первых продаж и роста в B2B, мы хотим выйти на рынок B2C.</p>
</div> {% endcomment %}
